---
layout: layouts/base.njk
title: (de)bugged out blog
---


<!-- sidebar content goes here -->
<section id="sidebar">
  <div id="about" class="sidebar-content">
    <h2 class="section-title">About</h2>
    <p>
     Hello there! I'm <b><ins>Kylah</ins></b>. I'm a UI developer based in NYC.
	 I combine my anthropology & budding web design backgrounds to design
	 and develop web apps that are both interactive and accessibile.  This blog is an insight 
	 into development process is like: <ins>from debugging to deployment.</ins> 
    </p>
  </div>
  <div class="sidebar-content">
    <h2 class="section-title">Categories</h2>
    <ul>
      <li class="sb-important">All</li>
      <li>Readings</li>
      <li>Projects</li>
      <li>Etc</li>
    </ul>
  </div>
  <div class="sidebar-content">
    <h2 class="section-title">More</h2>
    <ul>
      <a href="https://callmeky.dev"  target="_blank"><li class="sb-important">My Portfolio</li></a>
      <a href="https://github.com/ReahKy23"  target="_blank"><li>Github</li></a>
    </ul>
  </div>
</section>

<!-- blog post grid -->
<section id="blog">
  <h2 class="section-title">MY WORK</h2>
  <div class="post-grid">

    {% for post in collections.posts | reverse %}
    <a href="{{ post.url }}" class="card-link">
      <div class="card">
        <img
          src="{{ post.data.image or '' }}"
          alt="{{ post.data.title }}"
          class="post-img"
        />
        <h3>{{ post.data.title }}</h3>
        <div class="post-info">
          <h4>{{ post.data.category or "post" }} |</h4> 
          <h4>&nbsp;{{ post.date | readableDate }}</h4>
        </div>
        <p>{{ post.data.description or post.templateContent | truncate(120) }}</p>
      </div>
    </a>
    {% else %}
    <p>No posts yet — check back soon!</p>
    {% endfor %}

  </div>
</section>
