---
layout: layouts/base.njk
---

{% block content %}

<section id="sidebar">
  <div id="about" class="sidebar-content">
    <h2 class="section-title">About</h2>
   <p>
     Hello there! I'm <b><ins>Kylah</ins></b>. I'm a UI developer based in NYC.
	 I combine my anthropology & budding web design backgrounds to design
	 and develop web apps that are both interactive and accessibile. This blog is an insight 
	 into development process is like: <ins>from debugging to deployment.</ins>
    </p>
  </div>
  <div class="sidebar-content">
    <h2 class="section-title">Posts</h2>
    <ul>
      {% for post in collections.posts | reverse %}
      <li class="{% if post.url == page.url %}sb-important{% endif %}">
        <a href="{{ post.url }}">{{ post.data.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>

<section id="blog">
  <article class="post-full">
  <h2>{{ title }}</h2>
    {% if image %}
    <img src="{{ image }}" alt="{{ title }}" class="post-img post-img--full" />
    {% endif %}

    
    <div class="post-info">
      <h4>{{ category or "post" }} |</h4>
	  <h4>&nbsp;{{ page.date | readableDate }}</h4>
    </div>

    <div class="post-body">
      {{ content | safe }}
    </div>


  </article>
</section>

{% endblock %}
